# Dependencies
node_modules
packages/*/node_modules
apps/*/node_modules

# Build outputs
dist
packages/*/dist
apps/*/dist
*.tsbuildinfo

# Test outputs
coverage
playwright-report
test-results

# Environment
.env
.env.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
